<h2>{{book.title}}</h2>

<h3>Planejamento de Leitura</h3>

<a href="javascript:;" class="btn">Iniciar Leitura</a>

<h3>Gráfico de Acompanhamento</h3>

<div class="alert alert-error">Não foi possível cumprimos o objetivo.</div>
<div class="alert alert-success">Parabéns, conseguimos cumprir nosso objetivo.</div>
<div class="alert">Você está atrasado para o seu objetivo. Meta xx página por dia.</div>
<div class="alert">Restam xx páginas para a conclusão</div>

Gráfico de pontos com a quantidade de páginas de cada dia...