<table class="table">
	<tr>
		<th>Setar Página</th>
		<th>Título</th>
		<th>Autor</th>
		<th>Página</th>
		<th>Data de Início</th>
		<th>Data de Término</th>
		<th>Status</th>
		<th>Ações</th>
	</tr>
	<tr ng-repeat="book in books | filter:searchText | orderBy:'title'">
		<td>setar página</td>
		<td><a href="#/view/{{book.id}}">{{book.title}}</a></td>
		<td>{{book.author}}</td>
		<td>{{book.page}}</td>
		<td>{{book.startdate}}</td>
		<td>{{book.enddate}}</td>
		<td>{{book.status}}</td>
		<td>
			<a href="#/book/view/{{book.id}}">Visualizar</a> | 
			<a href="#/book/edit/{{book.id}}">Editar</a> | 
			<a href="javascript:;" ng-click="deleteBook(book.id);">Excluir</a> 
		</td>
	</tr>
</table>